body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eaeded;
    color: #0f1111;
}

.account-container {
    max-width: 450px;
    margin: 80px auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(15, 17, 17, 0.2);
    text-align: left;
}
label {
    text-align:left;
}

h2 {
    color: #111;
    margin-bottom: 10px;
}

.fo {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.i {
    padding: 10px;
    border: 1px solid #d5d9d9;
    border-radius: 4px;
    background: #ffffff;
    color: #0f1111;
    font-size: 14px;
    outline: none;
}

.b {
    padding: 10px;
    background-color: #ffd814;
    color: #0f1111;
    border: 1px solid #fcd200;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.15s ease;
}

.b:hover {
    background-color: #f7ca00;
}
